* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.webcam-container {
  margin-left: 200px;
}


.flex {
  display: flex;
  padding-left: 100px;
  margin-top: 50px;
  position: fixed;
}

.stream-title{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  margin-top: 15px;
}

.video{
  /* margin-right: 20px; */
}

.background{
  background-color: #F7F7F8;

}

.chat-font{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 1.5;

}

#parent-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the parent container to the full height of the screen */
  flex-direction: column-reverse;
  /* margin-left: 10px; */
  flex-wrap: wrap;
  background-color: white;
}

#chat-container {
  overflow-y: auto;
  margin-bottom: 164px;
}

.chat-padding {
  overflow-wrap: anywhere;
  padding: 0.5rem 2rem;
}